# Environment variables
.env*
!.env.example

# Node
node_modules/
dist/
tsconfig.json

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db